<div id="footer">
  <div class="container">
    
    <div class="row footer-first-row">
      
      <div class="col-xs-12 text-center">
        <p><small>
          Copyright &copy; 2014 -  WellCause, LLC. All rights reserved.
          <br/>
          <%= link_to 'Home', root_path %> |  <%= link_to 'About', about_path %> | <%= link_to 'How it works', how_path %> | <%= link_to 'Pricing', pricing_path %> | <%= link_to 'Terms', terms_path %> |<%= link_to 'Privacy', privacy_path %> | <a href="http://twitter.com/wellcause">Twitter</a> | 
	  <a href="http://facebook.com/wellcause">Facebook</a>
        </small></p>
      </div>
      
    </div>
    
  </div>
</div>
